html {
    background-color: #9e7697;
}

.intro {
    text-align: center;
    font-family: Snell Roundhand, cursive;
    font-size: 200px;
    margin-bottom: 0;
    margin-top: 100px;
}

.continue-intro {
    text-align: center;
    font-family: Snell Roundhand, cursive;
    font-size: 50px;
    margin-top: 0;
}

.main {
    text-align: center;
}

.start-here {
    font-family: Snell Roundhand, cursive;
    font-size: 30px;
}

.character {
    background-color: #bb4f63;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center, space-evenly;
    
}

.binx {
    background-image: url(images/binxy.jpg);
    border: 5px solid black;
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
}

.binx:hover {
    background-image: url(images/Screenshot_20251106_125414_Messages.jpg);
    background-size: 150px 150px;
}

.menu {
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}